.nav-item:hover {
  border-radius: 20px;
  transform: scale(1.1);
  transition-duration: 0.4s;
  width: 90%;
  padding-left: 20px;
}
.content {
  width: calc(100% - 17rem);
  margin-left: 17rem;
}
body {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(32, 149, 79, 1) 30%,
    rgba(0, 212, 255, 1) 77%
  );
}
.nav {
  background: linear-gradient(
      90deg,
      var(--c1, #f6d365),
      var(--c2, #fda085) 51%,
      var(--c1, #f6d365)
    )
    var(--x, 0) / 200%;
}
.nav:hover {
  --x: 100%;
  transition-duration: 1s;
}
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
